<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Spam Classifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<style>
    body{
        background-color:#e2e2e2
    }
</style>


<body>

    <nav class="navbar bg-danger">
        <a href="#" class="navbar-brand text-white">Email Spam Classifier</a>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-body">
                        {% if label %}
                            {% if label=='1' %}
                                <h3 style="color:red">Spam</h3>
                            {% else %}
                                <h3 style="color:green">Not Spam</h3>
                            {% endif %}
                        {% endif %}
                        <form action="/predict" method="post">
                                <label>Type Email:</label><br>
                                <textarea name="email" cols="50" rows="20"></textarea><br>
                                <input type="submit" value="Predict">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>